################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/LightWeightGameEngine/v15
/Debug
/packages
/TheEngine/Debug
